/* font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* variable */
:root {
  --color-back: #f2e9d8;
  --color-point: #d97652;
  --padding: clamp(4rem, calc((100% - 1280px) / 2), calc((100% - 1280px) / 2));
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
}

/* utils */
.ally-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

img {
  vertical-align: bottom;
}

.btn {
  display: inline-block;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;

  background-color: var(--color-point);
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  white-space: nowrap;

  transition: opacity 0.1s;
}

:is(button, a):hover {
  opacity: 0.5;
  cursor: pointer;
}

/* temp */
body * {
  border: 1px solid red;
}

/* header */
header,
section,
footer {
  width: 100%;
  padding: 0 var(--padding);
  margin: 0 auto;
}

header {
  background-color: var(--color-back);
  width: 100%;
  height: 10.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-logo img {
  width: 13rem;
  object-fit: contain;
}

#btn-open-nav,
#btn-close-nav {
  display: none;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: clamp(2rem, 10%, 4rem);
}

.header-nav a:not(.btn) {
  text-align: center;
  text-decoration: none;
  color: #000;
}

/* main */
main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section-banner */
.section-banner {
  width: 100%;
  height: 79.8rem;
  background-color: var(--color-back);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}

.section-banner .text-container {
  flex: 1 1 auto;
  min-width: 45rem;

  padding-top: 20rem;
}

.section-banner .title {
  font-size: clamp(2.4rem, 4.6vw, 4.8rem);
  font-weight: 700;
}

.section-banner .desc {
  width: 60%;
  font-weight: 400;
}

.section-banner .background-banner {
  flex: 1 1 41.5rem;
  min-width: 21rem;
  aspect-ratio: 415 / 776;

  background: url("../assets/images/box-cat-bottom.png") no-repeat center bottom;
  background-size: 90%;
}

/* section-intro  */
.section-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 8rem 0 12rem;
}

.section-intro img {
  flex: 0 1 66rem;
  min-width: 32rem;

  aspect-ratio: 660 / 390;
  object-fit: cover;

  border-radius: 3rem;
  box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.25);
}

.section-intro .text-container {
  flex: 0 1 51rem;
  min-width: 30rem;
}

.section-intro .title {
  font-size: clamp(2.4rem, 3vw, 3.6rem);
  font-weight: 700;
}

/* section-skills  */
.section-skills {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  margin-bottom: 9rem;
}

.section-skills .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-skills .title {
  color: var(--color-point);
  font-size: clamp(2.4rem, 5vw, 4.8rem);
  font-weight: 700;
}

.section-skills .text-color {
  color: var(--color-point);
  font-weight: 700;
}

.section-skills .image-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(2rem, 2.6vw, 7.2rem);

  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 3rem var(--padding);
  box-sizing: content-box;
}

.section-skills li {
  flex: 1 1 37.8rem;
  min-width: 26rem;
}

.section-skills img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: clamp(1.8rem, 3vw, 3rem);
  box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.25);
}

.section-skills .sub-text-container {
  width: 90%;
  text-align: left;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem 5.2rem;
  flex-wrap: wrap;
}

.section-skills .sub-text-container p {
  flex: 1 1 60rem;
}

.section-skills .btn.learn-more {
  flex: 0 1 auto;
}

.aside-subscribe {
  border-radius: clamp(1.8rem, 3vw, 3rem);
  background: #263140;
  width: calc(100% - var(--padding) * 2);

  z-index: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  padding: 5rem 5.8rem;
  margin-bottom: 24.6rem;
}

.aside-subscribe .text-container {
  gap: 1.8rem;
  flex: 1 1 auto;
}

.aside-subscribe .title {
  min-width: 20rem;
  color: #fff;
  font-size: clamp(2.4rem, 3vw, 3.6rem);
  font-weight: 700;
}

.aside-subscribe .desc {
  width: 100%;
  color: #f2e9d8;
  font-size: 1.4rem;
}

.aside-subscribe form {
  flex: 1 1 auto;
  border-radius: 6rem;
  background-color: #fff;

  padding: 0.5rem 0.5rem 0.5rem 2.8rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1;
  gap: 0.8rem;
  align-items: center;
}

.aside-subscribe input {
  height: 100%;
  font-size: 1.6rem;
  padding: 0 0.8rem;
}

.aside-subscribe input::placeholder {
  color: #767676;
  font-size: 1.6rem;
  line-height: 1;
}

.aside-subscribe .icon-email {
  background-color: pink;
  width: 2.4rem;
  height: 100%;
  aspect-ratio: 1 /1;
  background: url("../assets/icons/mail.svg") no-repeat center / contain;
}

.aside-subscribe .btn {
  flex: 0 0 auto;
}

/* background image */
main .background-bottom {
  background: linear-gradient(
      0deg,
      rgba(242, 233, 216, 0.6) 0%,
      rgba(242, 233, 216, 0.6) 100%
    ),
    url("../assets/images/img_5.jpg") no-repeat center 40% / cover;
  width: 100%;
  height: 30rem;

  position: absolute;
  bottom: 0;
}

/* modal */
.modal {
  border: none;
  border-radius: 3rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);

  background: #f2e9d8 url("../assets/images/modal-bg-img.png") no-repeat center /
    cover;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  padding: 6rem 10.8rem 4rem;

  z-index: 1500;
}

.modal .image-modal {
  width: 11rem;
  aspect-ratio: 1 / 1;
  background: url("../assets/images/cat-subscribe.png") center / contain;
  margin: 2.4rem auto;
}

.modal .title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-point);
  margin-bottom: 1.2rem;
}

.modal .desc {
  margin-bottom: 3.8rem;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 16rem;
}

footer .sns-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

footer .sns-links a {
  display: block;
  width: 4.2rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

footer .sns-links .blog {
  background: #f29d52 url("../assets/icons/blog.svg") no-repeat center;
  background-size: 60% auto;
}

footer .sns-links .instagram {
  background: #f29d52 url("../assets/icons/instagram.svg") no-repeat center;
  background-size: 60% auto;
}

footer .sns-links .facebook {
  background: #f29d52 url("../assets/icons/facebook.svg") no-repeat center;
  background-size: 60% auto;
}

footer .sns-links .youtube {
  background: #f29d52 url("../assets/icons/youtube.svg") no-repeat center;
  background-size: 60% auto;
}

footer .footer-links {
  display: none;
}
