/* font */
@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* variable */
:root {
  --color-back: #f2e9d8;
  --color-point: #d97652;

  --padding: max(4rem, calc((100% - 1280px) / 2));

  /* font-size */
  --fs-heading-lg-fluid: clamp(2.4rem, 4.8vw, 4.8rem);
  --fs-heading-md-fluid: clamp(2.4rem, 2.4vw, 3.6rem);
  --fs-body-md: 1.6rem;
  --fs-body-sm: 1.4rem;
  --fs-body-caption: 1.2rem;

  --card-radius: clamp(1.8rem, 3vw, 3rem);
  --card-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.25);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: var(--fs-body-md);
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000;
}

/* utils */
.ally-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

img {
  vertical-align: bottom;
}

picture {
  position: relative;
  display: inline-block;
}

picture img {
  width: 100%;
  height: auto;
}

/* a, input, button & focus style */
a {
  text-decoration: none;
}

input,
button {
  border: none;
}

:is(a, button):hover {
  cursor: pointer;
}

a:not(.btn):hover {
  opacity: 0.5;
}

input:focus,
:is(a, input, button):focus-visible {
  outline: 0.4rem solid #ff4000;
  outline-offset: 0.1rem;
}

/* components */
.text-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem 0;
}

.title {
  font-size: var(--fs-heading-md-fluid);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.desc {
  font-size: var(--fs-body-md);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  font-size: var(--fs-body-md);
  font-weight: 700;

  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  color: #fff;

  background-color: var(--color-point);
  display: inline-block;
  padding: 1.5rem 3rem;
  border: 2px solid var(--color-point);
  border-radius: 4rem;

  transition: opacity 0.1s ease, color 0.1s ease, border-color 0.1s ease,
    background-color 0.1s;
}

.btn:hover {
  color: var(--color-point);
  border-color: var(--color-point);
  background-color: white;
}

.btn.download {
  position: relative;
}

.btn.download::after {
  content: "about-hodu.pdf 파일을 다운로드";

  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);

  background: var(--color-point);
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;

  font-size: var(--fs-body-caption);
  font-weight: 400;
  white-space: nowrap;
  pointer-events: none;

  z-index: -10000;
  opacity: 0;

  transition: opacity 0.3s;
}

.btn.download:hover::after {
  opacity: 1;
  z-index: 10000;
}

/* header */
header,
section,
footer {
  width: 100%;
  padding: 0 var(--padding);
  margin: 0 auto;
}

header {
  background-color: var(--color-back);
  width: 100%;
  height: 10.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-logo img {
  width: 13rem;
  object-fit: contain;
}

#btn-open-nav,
#btn-close-nav {
  display: none;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: clamp(2rem, 10%, 4rem);
}

.header-nav li {
  width: 100%;
}

.header-nav a:not(.btn) {
  display: inline-block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: #000;
}

/* main */
main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section-banner */
.section-banner {
  width: 100%;
  height: 79.8rem;
  background-color: var(--color-back);
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.section-banner .text-container {
  flex: 1 1 auto;
  min-width: 45rem;

  padding-top: 20rem;
}

.section-banner .title {
  font-size: var(--fs-heading-lg-fluid);
  font-weight: 700;
}

.section-banner .desc {
  font-size: var(--fs-body-md);
  width: 60%;
  min-width: 34rem;
}

.section-banner .background-banner {
  flex: 1 1 41.5rem;
  min-width: 24rem;

  background: url("../assets/images/banner-bg-cat.png") no-repeat center bottom;
  background-size: 90%;
}

/* section-intro  */
.section-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin: 8rem 0 12rem;
}

.section-intro picture {
  flex: 0 1 66rem;
  min-width: 32rem;
}

.section-intro img {
  aspect-ratio: 660 / 390;
  object-fit: cover;

  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}

.section-intro .text-container {
  flex: 0 1 51rem;
  min-width: 30rem;
}

/* section-skills  */
.section-skills {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  margin-bottom: 9rem;
}

.section-skills .text-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section-skills .title {
  font-size: var(--fs-heading-lg-fluid);
  color: var(--color-point);
}

.section-skills .text-color {
  color: var(--color-point);
  font-weight: 700;
}

.section-skills .image-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(2rem, 2.6vw, 7.2rem);

  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 4rem var(--padding);
  box-sizing: content-box;
}

.section-skills li {
  flex: 1 1 37.8rem;
  min-width: 26rem;
}

.section-skills li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}

.section-skills .text-container-row {
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 3rem 5.2rem;
  flex-wrap: wrap;
}

.section-skills .text-container-row .desc {
  flex: 1 1 60rem;
}

.section-skills .text-container-row .btn {
  flex: 0 1 auto;
}

/* image-list - scrollbar */
/* for standard */
.section-skills .image-list {
  scrollbar-width: auto;
  scrollbar-color: transparent transparent;
}

.section-skills .image-list:hover {
  scrollbar-color: #d976524c transparent;
}

/* for legacy */
.section-skills .image-list::-webkit-scrollbar {
  width: 0.6rem;
  height: 1.2rem;
  background-color: transparent;
}

.section-skills .image-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.section-skills .image-list:hover::-webkit-scrollbar-thumb {
  background-color: #d976524c;
  border-radius: 0.4rem;
}

/* article */
.article-subscribe {
  border-radius: var(--card-radius);
  background: #263140;
  width: calc(100% - var(--padding) * 2);

  z-index: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  padding: 5rem 5.8rem;
  margin-bottom: 24.6rem;
}

.article-subscribe .text-container {
  flex: 1 1 auto;
  gap: 1.8rem;
}

.article-subscribe .title {
  min-width: 20rem;
  color: #fff;
}

.article-subscribe .desc {
  width: 100%;
  color: #f2e9d8;
  font-size: var(--fs-body-sm);
}

.article-subscribe form {
  flex: 1 1 auto;

  border-radius: 6rem;
  background-color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 2.8rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.article-subscribe .input-wrapper {
  flex: 1 1 auto;
  width: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.article-subscribe .input-wrapper::before {
  content: "";
  display: inline-block;
  width: 2.4rem;
  aspect-ratio: 1 / 1;
  background: url("../assets/icons/mail.svg") no-repeat center / contain;
}

.article-subscribe input {
  display: inline-block;
  width: 100%;
  height: 3rem;
  font-size: var(--fs-body-md);
  padding: 0 0.8rem;
  border-radius: 0.5rem;
}

.article-subscribe input::placeholder {
  color: #767676;
  font-size: var(--fs-body-md);
  line-height: 1;
}

.article-subscribe .btn {
  flex: 0 0 auto;
}

/* background image */
main .background-bottom {
  background: linear-gradient(
      0deg,
      rgba(242, 233, 216, 0.6) 0%,
      rgba(242, 233, 216, 0.6) 100%
    ),
    url("../assets/images/bg-cat.jpg") no-repeat center 40% / cover;
  width: 100%;
  height: 30rem;

  position: absolute;
  bottom: 0;
}

/* modal */
.modal {
  border: none;
  border-radius: 3rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);

  background: #f2e9d8 url("../assets/images/modal-bg-img.png") no-repeat center /
    cover;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  padding: 6rem 10.8rem 4rem;

  z-index: 1500;

  display: none;
}

.modal .image-modal {
  width: clamp(6rem, 10vw, 11rem);
  aspect-ratio: 1 / 1;
  background: url("../assets/images/modal-cat.png") center / contain;
  margin: 2.4rem auto;
}

.modal .text-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 3.8rem;
}

.modal .title {
  color: var(--color-point);
  white-space: nowrap;

  width: 30rem;
}

/* btn-scroll-top */
#btn-scroll-top {
  position: sticky;
  left: 100vw;
  bottom: 2.4rem;
  margin: 2.4rem;

  width: 5rem;
  aspect-ratio: 1 / 1;
  background: #fff url("../assets/icons/top-btn.svg") no-repeat center / contain;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  opacity: 0.8;

  z-index: 2000;
}

#btn-scroll-top:hover {
  opacity: 1;
  cursor: pointer;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 16rem;
}

footer .sns-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer .sns-links li {
  width: 4.2rem;
  height: 4.2rem;
}

footer .sns-links a {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

footer .blog {
  background: #f29d52 url("../assets/icons/blog.svg") no-repeat center;
  background-size: 60% auto;
}

footer .instagram {
  background: #f29d52 url("../assets/icons/instagram.svg") no-repeat center;
  background-size: 60% auto;
}

footer .facebook {
  background: #f29d52 url("../assets/icons/facebook.svg") no-repeat center;
  background-size: 60% auto;
}

footer .youtube {
  background: #f29d52 url("../assets/icons/youtube.svg") no-repeat center;
  background-size: 60% auto;
}

footer .footer-links {
  display: none;
}
