/* variable */
:root {
  --padding-mobile: clamp(2rem, calc((100% - 350px) / 2), 4rem);
  /* --padding-mobile: 2rem; */
  --padding-mobile-section: clamp(2rem, calc((100% - 326px) / 2), 4rem);
}

/* utils */
.btn {
  font-size: 1.4rem;
  padding: 1.1rem 2.4rem;
}

/* header */
header,
footer {
  padding: 0 var(--padding-mobile);
}

section {
  padding: 0 var(--padding-mobile-section);
}

header {
  height: 7.6rem;
}

.header-logo img {
  width: 9.2rem;
}

/* header - navigation */
.header-nav {
  display: block;
  width: 28.9rem;
  height: 100vh;

  background-color: #263140;

  position: fixed;
  top: 0;
  right: -28.9rem;

  transition: right 0.3s;
}

.header-nav ul {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3rem;
  margin: 12rem 5rem 0rem;
}

.header-nav a:not(.btn) {
  color: #fff;
  font-weight: 700;
}

#btn-open-nav,
#btn-close-nav {
  display: inline-block;
  width: 3.2rem;
  aspect-ratio: 1 / 1;
}

#btn-open-nav {
  background: url("../assets/icons/menu.svg") no-repeat center / contain;
}

#btn-close-nav {
  background: url("../assets/icons/arrow-right.svg") no-repeat center / contain;

  position: absolute;
  top: 2.2rem;
  left: 2rem;
}

/* main */
/* section-banner */
.section-banner {
  height: 72rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.text-container {
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section-banner .text-container {
  text-align: center;

  padding-top: 4rem;
}

.section-banner .title {
  font-size: 2.4rem;
  width: 27rem;
}

.section-banner .desc {
  font-size: 1.4rem;
  width: 27rem;
}

.section-banner .background-banner {
  width: 20rem;

  background-size: contain;
}

/* section-intro  */
.section-intro {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem 0 6rem;
}

.section-intro img {
  flex: 1 0 100%;
  width: 100%;

  aspect-ratio: 660 / 390;
  object-fit: cover;

  border-radius: 1.8rem;
}

.section-intro .text-container {
  flex: 1 0 100%;
  width: 100%;

  align-items: start;
  gap: 2rem;
}

.section-intro .title {
  font-size: 2.4rem;
}

.section-intro .desc {
  font-size: 1.4rem;
}

/* section-skills  */
.section-skills {
  gap: 2rem;

  margin-bottom: 5rem;
}

.section-skills .text-container {
  gap: 3rem;
}

.section-skills .title {
  font-size: 2.4rem;
}

.section-skills .image-list {
  gap: 2rem;

  padding: 2rem var(--padding-mobile-section);
}

.section-skills .sub-text-container {
  width: 100%;
}

/* aside */
.aside-subscribe {
  background: #263140;
  width: calc(100% - var(--padding-mobile-section) * 2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  padding: 3.6rem 3.2rem;
  margin-bottom: 24.6rem;
}

.aside-subscribe .text-container {
  align-items: start;
}

.aside-subscribe .title {
  width: 50%;
}

.aside-subscribe form {
  border-radius: 0;
  background-color: transparent;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 2rem;
}

.aside-subscribe .input-wrapper {
  flex: 1 1 auto;
  width: 100%;
  height: 4rem;

  border-radius: 6rem;
  background-color: #fff;
  padding: 0.5rem 1.6rem;
}

.aside-subscribe .input-wrapper::before {
  width: 1.8rem;
}

.aside-subscribe input {
  font-size: 1.4rem;
}

.aside-subscribe input::placeholder {
  font-size: 1.4rem;
}

footer {
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  height: 17.8rem;

  padding: 3rem var(--padding-mobile) 2.4rem;

  position: relative;
}

footer .header-logo img {
  width: 11.2rem;
}

footer .sns-links {
  gap: 1.6rem;
}

footer .sns-links a {
  width: 3.2rem;
}

footer .footer-links {
  position: absolute;
  top: 50%;
  right: var(--padding-mobile);
  transform: translateY(-50%);
  display: inline-block;
  text-align: right;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1.5rem;
}

footer .footer-links a {
  color: #767676;
}
