/* variable */
:root {
  --padding: clamp(2rem, calc((100% - 350px) / 2), 4rem);
  --padding-section: clamp(2rem, calc((100% - 326px) / 2), 4rem);
}

/* reset */
body {
  font-size: var(--fs-body-sm);
}

/* components */
.text-container {
  gap: 3rem;
}

.desc {
  font-size: var(--fs-body-sm);
}

.btn {
  font-size: var(--fs-body-sm);
  padding: 1.1rem 2.4rem;
}

/* header */
section {
  padding: 0 var(--padding-section);
}

header {
  height: 7.6rem;
}

.header-logo img {
  width: 9.2rem;
}

/* header - navigation */
.header-nav {
  display: block;
  width: 28.9rem;
  height: 100vh;

  background-color: #263140;

  position: fixed;
  top: 0;
  right: -28.9rem;

  transition: right 0.3s;
}

.header-nav ul {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 3rem;
  margin: 12rem 5rem 0rem;
}

.header-nav a:not(.btn) {
  color: #fff;
  font-weight: 700;
}

.header-nav .btn {
  margin: 2rem 0;
}

#btn-open-nav,
#btn-close-nav {
  display: inline-block;
  width: 3.2rem;
  aspect-ratio: 1 / 1;
}

#btn-open-nav {
  background: url("../assets/icons/menu.svg") no-repeat center / contain;
}

#btn-close-nav {
  background: url("../assets/icons/arrow-right.svg") no-repeat center / contain;

  position: absolute;
  top: 2.2rem;
  left: 2rem;
}

/* main */
/* section-banner */
.section-banner {
  height: 72rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.section-banner .text-container {
  width: 90%;
  min-width: 24rem;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
}

.section-banner .title {
  width: 100%;
}

.section-banner .desc {
  font-size: var(--fs-body-sm);
  width: 100%;
  min-width: auto;
}

.section-banner * {
  border: 1px solid red;
}

.section-banner .background-banner {
  width: 20rem;
  /* min-height: ; */
  background-size: contain;
}

/* section-intro  */
.section-intro {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 4rem 0 6rem;
}

.section-intro picture {
  flex: 1 1 auto;
  width: 80%;
  min-width: 32.6rem;
}

.section-intro img {
  aspect-ratio: 660 / 390;
  object-fit: cover;
}

.section-intro .text-container {
  flex: 1 0 100%;
  width: 100%;

  align-items: start;
  gap: 2rem;
}

.section-intro .desc {
  font-size: var(--fs-body-sm);
}

/* section-skills  */
.section-skills {
  gap: 2rem;

  margin-bottom: 5rem;
}

.section-skills .text-container {
  gap: 3rem;
}

.section-skills .desc {
  font-size: var(--fs-body-md);
}

.section-skills .image-list {
  gap: 2rem;

  padding: 2rem var(--padding-section) 4rem;
}

.section-skills .text-container-row {
  width: 100%;
}

.section-skills .text-container-row .desc {
  font-size: var(--fs-body-md);
}

/* article */
.article-subscribe {
  background: #263140;
  width: calc(100% - var(--padding-section) * 2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  padding: 3.6rem 3.2rem;
  margin-bottom: 24.6rem;
}

.article-subscribe .text-container {
  align-items: start;
}

.article-subscribe .title {
  width: 50%;
}

.article-subscribe form {
  border-radius: 0;
  background-color: transparent;
  padding: 0;

  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.article-subscribe .input-wrapper {
  width: 100%;
  padding: 0.5rem 1.6rem;

  border-radius: 6rem;
  background-color: #fff;
}

.article-subscribe .input-wrapper::before {
  width: 1.8rem;
}

.article-subscribe input {
  font-size: var(--fs-body-sm);
}

.article-subscribe input::placeholder {
  font-size: var(--fs-body-caption);
}

/* modal */
.modal {
  padding: 3rem 5rem 4rem;
}

.modal .text-container {
  gap: 1rem;
  margin-bottom: 2.8rem;
}

/* btn-scroll-top */
#btn-scroll-top {
  display: none;
}

/* footer */
footer {
  flex-direction: column;
  align-items: start;

  height: 17.8rem;

  padding: 3rem var(--padding) 2.4rem;
  position: relative;
}

footer .header-logo img {
  width: 11.2rem;
}

footer .sns-links {
  gap: 1.6rem;
}

footer .sns-links li {
  width: 3.2rem;
  height: 3.2rem;
}

footer .footer-links {
  position: absolute;
  top: 50%;
  right: var(--padding);
  transform: translateY(-50%);
  text-align: right;
  white-space: nowrap;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1.6rem;
}

footer .footer-links li {
  width: 100%;
}

footer .footer-links a {
  display: inline-block;
  width: 100%;
  color: #767676;
}
